.skills-container{
    max-width: fit-content;
   /* max-width: 1000px;*/
   /* margin: 0px 100px;*/
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 60px;
    /*padding: 1.2rem 1rem;*/
    padding-top: 80px;
    padding-bottom: 5rem;
}

.skills-card{
   /* background: red;
    padding: 0.8rem 0.8rem;
    border-radius: 30px;*/
   /* width: 150px; */
   /* write these to decrease the skill card size*/
    width: 120px;
    height: 120px;
    overflow: hidden;
    box-shadow: 0px 0px 15px -5px;
    border-radius: 60px;
    background-color: rgba(243, 245, 245, 0.979);
}

.image-container img{
    /*height: 150px; */
    margin: auto;
    padding: 0px;/*This is padding*/
  /* write these to decrease the skill card size*/
    width: 120px;
    height: 120px;
    border-radius: 60px;
}

/*Right from here,remove the down 3 components to decrease the skill card size*/




@media screen and (max-width: 768px){
    .skills-container{
        /*max-width: 1000px;
        margin: 0px 100px;
        padding: 1.2rem 1rem;
        grid-template-columns: 1fr;*/
        max-width: fit-content;
        margin: auto;
        /*padding: 1.2rem 1rem;*/
        padding-top: 60px;
        grid-template-columns: repeat(2,1fr);
    }
    
    .skills-card{
       /* width: 120px;*/
        width: 100px;
        height: 90px;
       /* width: auto;*/
    }

    .image-container img{
        /*height: 120px; */
      /*  height: 90px;*/
        width: 100px;
        height: 90px;
    }
}