.project-container{
    max-width: 800px;
    padding: 80px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 180px;
}

.project-card{
    background-color: rgba(106, 112, 112, 0.61);
    width: 220px; 
    height: auto;
    box-shadow: 0px 0px 15px -5px;
    border-radius: 20px;
}

.project-card img{
    width: 220px;
    height: 140px; 
    margin: auto;
    padding: 10px;
    border-radius: 20px;
}

.project-title{
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.project-btns{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

@media screen and (max-width: 425px){
    .project-container{
        max-width: 210px;
        margin: auto;
        padding: 5.2rem 1rem;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 80px;
    }
    
    .project-card{
        width: 180px; 
        height: auto;
    }

    .project-card img{
        width: 180px;
        height: 130px;   
    }

    .project-details p{
        padding-bottom: 1rem;
        font-size: 17px;
        text-align: justify;
    }
}